:root {
  --background: #1A1E23;
  --dark-accent: #2C3E50;
  --accent: #34495E;
  --light-accent: #ECF0F1;
  --text: #FFFFFF;
}

.main-accent {
  background-color: var(--accent);
  color: var(--light-accent);
}

body {
  background-color: var(--background);
  color: var(--text);
}

